!!!html
%head
  - if defined?(resume)
    %title= resume.biodata.name
    %link{"rel" => "stylesheet", href: "/css/#{resume.css_file.to_s}.css"}
  - else
    %title Resumerator
    %link{"rel" => "stylesheet", href: "/css/main.css"}
%body{style: "-webkit-print-color-adjust:exact;" }
  = yield
